{{extend 'Layout.html'}}
<form>
  <table>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="courseName1"></td>
        <td><input type="text" name="instructor1"></td>
        <td><input type="date" name="startDate1"></td>
        <td><input type="date" name="endDate1"></td>
      </tr>
      <tr>
        <td><input type="text" name="courseName2"></td>
        <td><input type="text" name="instructor2"></td>
        <td><input type="date" name="startDate2"></td>
        <td><input type="date" name="endDate2"></td>
      </tr>
      <tr>
        <td><input type="text" name="courseName3"></td>
        <td><input type="text" name="instructor3"></td>
        <td><input type="date" name="startDate3"></td>
        <td><input type="date" name="endDate3"></td>
      </tr>
    </tbody>
  </table>
</form>