<style>
    .alert.alert-dark{
        width: fit-content;
    }
    select{
        width: 30%;
        padding: .5rem;
        border-radius: .5rem;
    }
</style>
{{extend 'layout.html'}}
<div class="alert alert-dark" role="alert">
    Add Courses
</div>

<form action="" method="post" class="my-5 pb-2">
    <select name="CourseId" class="form-select">
        {{for x in courses:}}
        <option value="{{=x.code}}">{{=x.code}}</option>
        {{pass}}
    </select>
    
    <input classs="btn btn-dark" type="submit" value="Add">
</form>

{{=grid}}
